.djn-fieldset {
  margin-left: 20px;
}

.inline-related fieldset.module h3 {
  font-size: inherit !important;
}

.errorlist {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-bottom: 0px !important;
  list-style: none;
}

.errorlist li {
  padding-left: 1em;
  text-indent: -.7em;
}

.errorlist li::before {
  content: "> ";
  color: red; /* or whatever color you prefer */
}
