.dashboard-item {
  padding: 10px;
}

  .dashboard-item-header-title {
    text-align: center;
  }

.recharts-responsive-container {
  padding-bottom: 10px;
}

.cf:not(:last-child) {
  margin-bottom: 25px;
}

#container-dashboard .dashboard-item-content {
  width: 100%;
  height: 350px;
}

.dashboard-container:nth-child(3) .dashboard-item-content {
  height: auto !important;
}
