
<table style="box-shadow: none !important;">
  <tbody>
    <tr>
      <td>{{ latitude.label|capfirst }}:</td>
      <td id="map_latitude">{{ latitude.html }}</td>
    </tr>
    <tr>
      <td>{{ longitude.label|capfirst }}:</td>
      <td id="map_longitude">{{ longitude.html }}</td>
    </tr>
  </tbody>
</table>
<div id="image_map_container"></div>

<script>
lat = document.getElementById('map_latitude').children[0].value;
lon = document.getElementById('map_longitude').children[0].value;
if (lat && lon) {
  src = 'https://maps.googleapis.com/maps/api/staticmap?size=600x300&maptype=roadmap&markers=color:red%7Clabel:C%7C'+lat+','+lon+'&key={{ config.key }}'
  img = document.createElement('img')
  img.src = src;
  document.getElementById('image_map_container').appendChild(img);
}

</script>
