{% load i18n static fthn_tags %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}

{% fthn_get_current_theme as THEME %}
{% fthn_get_current_version as FTHN_VERSION %}

{% block html %}<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />

<link rel="stylesheet" type="text/css" href="{% static "fthn/css/vendor.css" as url %}{{ url|fthn_append_version }}" />
<link rel="stylesheet" type="text/css" href="{% static "fthn/css/icons/style.css" as url %}{{ url|fthn_append_version }}" />
<link rel="stylesheet" type="text/css" href="{% static "fthn/css/themes/"|add:THEME|add:"/base.css" as url %}{{ url|fthn_append_version }}" class="base-stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static "fthn/css/themes/"|add:THEME|add:"/select2.theme.css" as url %}{{ url|fthn_append_version }}" class="select2-stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static "fthn/css/themes/"|add:THEME|add:"/jquery-ui.theme.css" as url %}{{ url|fthn_append_version }}" class="jquery-ui-stylesheet" />

{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}

<script type="text/javascript" charset="utf-8">
    var DATE_FORMAT = "{% fthn_get_date_format %}";
    var TIME_FORMAT = "{% fthn_get_time_format %}";
    var DATETIME_FORMAT = "{% fthn_get_datetime_format %}";
</script>
<script type="text/javascript" src="{% url 'fthn:jsi18n' %}"></script>
<script src="{% static "fthn/js/build/bundle.min.js" as url %}{{ url|fthn_append_version }}"></script>

{% fthn_static_translation_urls as translation_urls %}
{% for url in translation_urls %}
    <script src="{% static url as url %}{{ url|fthn_append_version }}"></script>
{% endfor %}

{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">FEED THE HUNGRY NICARAGUA</div>
        {% block usertools %}
        {% if user.is_active and user.is_staff or has_permission %}
        <div id="user-tools">
            {% block welcome-msg %}
                {% trans 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endif %}
        {% endblock %}
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}

    {% fthn_delete_confirmation_context %}

    {% fthn_change_form_sibling_links_enabled as show_siblings %}
    {% if change and show_siblings %}
        <div class="changeform-navigation">
            {% spaceless %}
                {% fthn_previous_object_url as url %}
                <a{% if url %} href="{{ url }}"{% endif %} class="segmented-button left{% if not url %} disabled{% endif %}">
                    <span class="changeform-navigation-button icon-arrow-left"></span>
                </a>

                {% fthn_next_object_url as url %}
                <a{% if url %} href="{{ url }}"{% endif %} class="segmented-button right{% if not url %} disabled{% endif %}">
                    <span class="changeform-navigation-button icon-arrow-right"></span>
                </a>
            {% endspaceless %}
        </div>
    {% endif %}

    {% fthn_get_side_menu_compact as SIDE_MENU_COMPACT %}
    {% if not is_popup %}
        <div class="related-popup-container scrollable">
            <a href="#" class="related-popup-back">
                <span class="related-popup-back-icon icon-arrow-left"></span>
                <span class="related-popup-back-label">{% trans "back" %}</span>
            </a>
            <span class="icon-refresh loading-indicator"></span>
        </div>

        <div class="sidebar-header-wrapper sidebar-dependent">
            <div class="sidebar-header sidebar-dependent">
                <a href="#" class="sidebar-header-menu sidebar-toggle">
                    <span class="sidebar-header-menu-icon icon-menu"></span>
                    <span class="sidebar-header-menu-icon icon-cross"></span>
                </a>
            </div>
        </div>
        <div class="sidebar sidebar-dependent">
            <div class="sidebar-wrapper scrollable">
                <div class="sidebar-section">
                    {% if user.is_active and user.is_staff %}
                        <a href="{% url 'admin:index' %}" class="sidebar-link icon">
                            <span class="sidebar-link-label">
                                <span class="sidebar-link-icon icon-data"></span>
                                {% trans 'Home' %}
                            </span>
                        </a>
                    {% endif %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}" class="sidebar-link icon">
                            <span class="sidebar-link-label">
                                <span class="sidebar-link-icon icon-book"></span>
                                {% trans 'Documentation' %}
                            </span>
                        </a>
                    {% endif %}
                    {% block nav-global %}{% endblock %}
                </div>

                {% if user.is_active and user.is_staff %}
                    {% fthn_get_menu as app_list %}
                    {% if app_list.apps or app_list.pinned_apps %}
                        {% if SIDE_MENU_COMPACT %}
                          <div class="sidebar-section">
                            <div class="sidebar-title">
                              <a href="#" class="sidebar-title-link">{% trans 'Reports' %}</a>
                            </div>
                            <div>
                              <a href="{% url 'reports:product' %}" class="sidebar-link">
                                <span class="sidebar-right">
                                  <span class="sidebar-right-arrow icon-arrow-right"></span>
                                </span>
                                <span class="sidebar-link-label">{% trans 'Products' %}</span>
                              </a>
                            </div>
                            <div>
                              <a href="{% url 'reports:child_feeding' %}" class="sidebar-link">
                                <span class="sidebar-right">
                                  <span class="sidebar-right-arrow icon-arrow-right"></span>
                                </span>
                                <span class="sidebar-link-label">{% trans 'Childrens' %}</span>
                              </a>
                            </div>
                            <div>
                              <a href="{% url 'reports:delivery' %}" class="sidebar-link">
                                <span class="sidebar-right">
                                  <span class="sidebar-right-arrow icon-arrow-right"></span>
                                </span>
                                <span class="sidebar-link-label">{% trans 'Deliveries' %}</span>
                              </a>
                            </div>
                            <div>
                              <a href="{% url 'reports:route' %}" class="sidebar-link">
                                <span class="sidebar-right">
                                  <span class="sidebar-right-arrow icon-arrow-right"></span>
                                </span>
                                <span class="sidebar-link-label">{% trans 'Routes' %}</span>
                              </a>
                            </div>
                          </div>
                            {% for app in app_list.all_apps %}
                                <div class="sidebar-section">
                                    <div class="sidebar-title">
                                        <a href="{{ app.app_url }}" class="sidebar-title-link">
                                            {% if app.name != app.app_label|capfirst|escape %}
                                                {% trans app.name as app_name %} {{ app_name|capfirst|escape }}
                                            {% else %}
                                                {% trans app.app_label as app_label %}{{ app_label|capfirst|escape }}
                                            {% endif %}
                                        </a>
                                    </div>
                                    {% for model in app.models %}
                                        {% if model.admin_url %}
                                            <div>
                                                <a href="{{ model.admin_url }}" class="sidebar-link">
                                                    <span class="sidebar-right">
                                                        <span class="sidebar-right-arrow icon-arrow-right"></span>
                                                    </span>
                                                    <span class="sidebar-link-label">{{ model.name }}</span>
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <form action="{% url "fthn:toggle_application_pin" %}" method="POST" id="toggle-application-pin-form">
                                {% csrf_token %}
                                <input type="hidden" name="app_label">
                            </form>

                            <div class="sidebar-section">
                                <div class="sidebar-title">
                                    <span class="sidebar-right">
                                        <a href="#" class="sidebar-right-edit edit-apps-list"><span class="icon-settings"></span></a>
                                    </span>
                                    {% trans 'Applications' %}
                                </div>

                                <div class="apps-list-pinned">
                                    {% for app in app_list.pinned_apps %}
                                        <a href="{{ app.app_url }}" class="sidebar-link popup-section-link app-item" data-app-label="{{ app.app_label }}" data-popup-section-class="sidebar-popup-section-{{ app.app_label }}">
                                            <span class="sidebar-left collapsible">
                                                <span class="sidebar-left-pin icon-star pin-toggle"></span>
                                                <span class="sidebar-left-unpin icon-cross pin-toggle"></span>
                                            </span>

                                            <span class="sidebar-right">
                                                <span class="sidebar-right-arrow icon-arrow-right"></span>
                                            </span>

                                            <span class="sidebar-link-label">
                                                {% if app.name != app.app_label|capfirst|escape %}
                                                    {{ app.name }}
                                                {% else %}
                                                    {% trans app.app_label as app_label %}{{ app_label|capfirst|escape }}
                                                {% endif %}
                                            </span>
                                        </a>
                                    {% endfor %}
                                </div>
                                <a href="#" class="sidebar-center-link apps-hide">
                                    <span class="apps-hide-label apps-visible">{% trans "Hide applications" %}</span>
                                    <span class="apps-hide-label apps-hidden">{% trans "Show hidden" %}</span>
                                </a>
                                <div class="apps-list">
                                    {% for app in app_list.apps %}
                                        <a href="{{ app.app_url }}" class="sidebar-link popup-section-link app-item" data-app-label="{{ app.app_label }}" data-popup-section-class="sidebar-popup-section-{{ app.app_label }}">
                                            <span class="sidebar-left collapsible">
                                                <span class="sidebar-left-pin icon-star pin-toggle"></span>
                                                <span class="sidebar-left-unpin icon-cross pin-toggle"></span>
                                            </span>

                                            <span class="sidebar-right">
                                                <span class="sidebar-right-arrow icon-arrow-right"></span>
                                            </span>

                                            <span class="sidebar-link-label">
                                                {% if app.name != app.app_label|capfirst|escape %}
                                                    {{ app.name }}
                                                {% else %}
                                                    {% trans app.app_label as app_label %}{{ app_label|capfirst|escape }}
                                                {% endif %}
                                            </span>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                    <div class="sidebar-section last">
                        <div class="dialog-confirm" id="bookmarks-add-dialog" title="{% trans "Add bookmark" %}">
                            <form action="{% url "fthn:add_bookmark" %}" method="POST" id="bookmarks-add-form">
                                {% csrf_token %}
                                <p>{% trans "Title" %}:</p>
                                <input type="text" name="title" class="fill_width">
                                <p>{% trans "URL" %}:</p>
                                <input type="text" name="url" class="fill_width">
                            </form>
                        </div>
                        <form action="{% url "fthn:remove_bookmark" %}" method="POST" id="bookmarks-remove-form">
                            {% csrf_token %}
                            <input type="hidden" name="id">
                        </form>
                        <div class="dialog-confirm" id="bookmarks-remove-dialog" title="{% trans "Delete bookmark" %}">
                            <p>{% trans "Are you sure want to delete this bookmark?" %}</p>
                        </div>

                        <div class="sidebar-title">
                            <span class="sidebar-right">
                                <a href="#" class="sidebar-right-plus bookmarks-add" title="{% trans "Add bookmark" %}"{% if title %} data-title="{{ title }}"{% endif %}><span class="icon-add"></span></a>
                            </span>
                            {% trans 'bookmarks' %}
                        </div>

                        <div class="bookmarks-list">
                            {% fthn_get_bookmarks user as bookmarks %}
                            {% for bookmark in bookmarks %}
                                <a href="{{ bookmark.url }}" class="sidebar-link bookmark-item">
                                    <span class="sidebar-right collapsible">
                                        <span class="sidebar-right-remove bookmarks-remove" data-bookmark-id="{{ bookmark.pk }}">{% trans "Remove" %}</span>
                                    </span>
                                    <span class="sidebar-link-label">{{ bookmark.title }}</span>
                                </a>
                            {% endfor %}
                            <a class="sidebar-link bookmark-item clone">
                                <span class="sidebar-right collapsible">
                                    <span class="sidebar-right-remove bookmarks-remove">{% trans "Remove" %}</span>
                                </span>
                                <span class="sidebar-link-label"></span>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>

            {% if app_list and not SIDE_MENU_COMPACT %}
                <div class="sidebar-popup-container">
                    <div class="sidebar-popup scrollable">
                        <a href="#" class="sidebar-close sidebar-back">
                            <span class="sidebar-close-icon icon-arrow-left"></span>
                        </a>
                        {% for app in app_list.apps|add:app_list.pinned_apps %}
                            <div class="sidebar-popup-section sidebar-popup-section-{{ app.app_label }}">
                                <div class="sidebar-popup-title">
                                    {% if app.name != app.app_label|capfirst|escape %}
                                        {{ app.name }}
                                    {% else %}
                                        {% trans app.app_label as app_label %}{{ app_label|capfirst|escape }}
                                    {% endif %}
                                </div>

                                <input class="sidebar-popup-search" placeholder="Search...">

                                <ul class="sidebar-popup-list">
                                    <li class="sidebar-popup-list-item app-{{ app.app_label }}{{ app.current|yesno:" current," }}">
                                        <a href="{{ app.app_url }}" class="sidebar-popup-list-item-link">{% trans 'Application page' %}</a>
                                    </li>

                                    {% for model in app.models %}
                                        <li class="sidebar-popup-list-item model-{{ model.object_name|lower }}{{ model.current|yesno:" current," }}">
                                            {% if model.admin_url %}
                                                <a href="{{ model.admin_url }}" class="sidebar-popup-list-item-link">{{ model.name }}</a>
                                            {% else %}
                                                {{ model.name }}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% fthn_get_themes as THEMES %}
    {% if THEMES %}
        <li class="user-tools-contrast-block theme-chooser">
            <div class="user-tools-contrast-block-title">{% trans "current theme" %}</div>
            <div class="user-tools-theme-link-container">
                {% spaceless %}
                    {% for conf_theme in THEMES %}
                        {% if conf_theme.theme %}
                            <a href="#"
                               class="user-tools-theme-link choose-theme{% if conf_theme.theme == THEME %} selected{% endif %}"
                               data-theme="{{ conf_theme.theme }}"
                               data-base-stylesheet="{% static "fthn/css/themes/"|add:conf_theme.theme|add:"/base.css" %}?v={{ FTHN_VERSION }}"
                               data-select2-stylesheet="{% static "fthn/css/themes/"|add:conf_theme.theme|add:"/select2.theme.css" %}?v={{ FTHN_VERSION }}"
                               data-jquery-ui-stylesheet="{% static "fthn/css/themes/"|add:conf_theme.theme|add:"/jquery-ui.theme.css" %}?v={{ FTHN_VERSION }}"
                               {% if conf_theme.title %} title="{{ conf_theme.title }}"{% endif %}
                               style="background-color: {{ conf_theme.color|default:"white" }};"
                                    ></a>
                        {% endif %}
                    {% endfor %}
                {% endspaceless %}
            </div>
        </li>
    {% endif %}
</div>
<!-- END Container -->

</body>
</html>{% endblock %}
