{% load i18n static fthn_tags %}<!DOCTYPE html>
<html>
  <head>
      <title>{% trans 'Popup closing...' %}</title>
      <script src="{% static "fthn/js/build/bundle.min.js" %}"></script>
  </head>
  <body>
    {% fthn_popup_response_data as data %}
    <div id="django-admin-popup-response-constants"
         data-popup-response="{{ data|escape }}">
    </div>
  </body>
</html>
