.sidebar-dependent {
  z-index: 1 !important;
}

.text-center {
  text-align: center;
}
.bold {
  font-weight: bold;
}

.reports-filter{
  padding-bottom: 10px;
}

  .reports-filter > .Select {
    width: 30%;
    display: inline-block;
  }

  .reports-filter > .Select:not(:last-child) {
    margin-right: 10px;
  }

  .rcf > .DateRangePicker {
    width: 37%;
    display: inline-block;
    margin-right: 10px;
  }

  .rcf > h1 {
    display: none;
  }

  .rcf > .Select, .Select-control {
    vertical-align: middle;
    height: 50px;
  }

.report-delivery > .Select {
  width: 25% !important;
}

.report-delivery > .DateRangePicker {
  width: 30% !important;
}

.report-delivery > .DateRangePicker .DateRangePickerInput > .DateInput {
  width: 100px !important;
}
.report-delivery > .DateRangePicker .DateRangePickerInput > .DateRangePickerInput__calendar-icon {
  padding: 5px !important;
}

.reportSummary {
  margin-bottom: 30px;
}

.filter-error {
  border: 1px solid red;
}

.rt-noData {
  z-index: 0 !important;
}

.print-button {
  float: right;
  margin-top: 10px;
  background-color: #2faa60;
  color: white;
}

.recharts-pie {
  transform: translateX(50%) translateY(-50%);
}

.wrapper-filter {
  width: 60%;
  margin: 0 auto;
  border: 5px solid;
  padding: 10%;
}

  .wrapper-filter > * {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .wrapper-filter > .Select > .Select-control {
    height: 50px;
  }

.DateRangePicker,
.DateRangePickerInput {
  width: 100%;
}

.wrapper-content h1, h2 {
  text-align: center;
}

.fthn-tooltip {
  background-color: white;
  border: 1px solid grey;
  padding: 5px;
}

  .fthn-tooltip > .label {
    color: #8B9AA7;
    text-align: center;
  }

@media print
{
    .sidebar, .Select,
    .dashboard-tools, .user-tools,
    .-pagination, .print-button,
    #wrapper-filter {
      display: none !important;
    }

    body > #container {
      padding: 0 !important;
    }

    .ReactTable {
      width: 100%;
    }

}
