{% load i18n %}
{% load render_bundle from webpack_loader %}
<script>
function getCookie(name) {
  var dc = document.cookie;
  var prefix = name + "=";
  var begin = dc.indexOf("; " + prefix);
  if (begin == -1) {
      begin = dc.indexOf(prefix);
      if (begin != 0) return null;
  } else {
      begin += 2;
      var end = document.cookie.indexOf(";", begin);
      if (end == -1) {
        end = dc.length;
      }
  }
    // because unescape has been deprecated, replaced with decodeURI
  //return unescape(dc.substring(begin + prefix.length, end));
  return decodeURI(dc.substring(begin + prefix.length, end));
}

var myCookie = getCookie("djlang");
if (myCookie == null) {
  document.cookie = "djlang=es";
}
</script>
{% if request.path == '/' %}
<div id="container-dashboard">
  {% render_bundle 'main' config='DASHBOARD' %}
</div>
{% else %}
<div class="dashboard-container columns_{{ columns|length }} cf">
    {% for i in columns %}
        <div class="dashboard-column-wrapper">
            <div class="dashboard-column{% if forloop.first %} first{% endif %}">
                {% for module in modules %}
                    {% if module.model.column == i %}
                        {% include "dashboard/module.html" with module=module %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}

<div class="dialog-confirm" id="module-remove-dialog" title="{% trans "Delete widget" %}">
    <p>{% trans "Are you sure want to delete this widget?" %}</p>
</div>

<form action="{% url "jet-dashboard:update_dashboard_modules" %}" method="POST" id="update-dashboard-modules-form">
    {% csrf_token %}
    <input type="hidden" name="app_label" value="{% if app_label %}{{ app_label }}{% endif %}">
    <input type="hidden" name="modules">
</form>

<form action="{% url "jet-dashboard:update_dashboard_module_collapse" %}" method="POST" id="update-dashboard-module-collapse-form">
    {% csrf_token %}
    <input type="hidden" name="id">
    <input type="hidden" name="collapsed">
</form>

<form action="{% url "jet-dashboard:remove_dashboard_module" %}" method="POST" id="remove-dashboard-module-form">
    {% csrf_token %}
    <input type="hidden" name="id">
</form>
