{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<div class="dashboard-tools-toggle-container">
    <a href="#" class="dashboard-tools-toggle button">
        <span class="dashboard-tools-toggle-icon icon-settings"></span>
    </a>
</div>
<div class="dashboard-tools">

    {% if request.path == '/' %}
    <form action="{% url 'set_language' %}" name="setLang{{ language.code }}" method="POST">
      {% csrf_token %}
      <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
      <input type="hidden" name="language" value="{{ language.code }}" />
      <select name="language" id="djLangSelect">
        {% for language in languages %}
        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
          {{ language.name_local|title }} ({{ language.code|upper }})
        </option>
        {% endfor %}
      </select>
      <a href="#" class="button" onclick="handleTrick()">{% trans 'Change' %}</a>
    </form>
    {% endif %}

    <form action="{% url "jet-dashboard:reset_dashboard" %}" method="POST" id="reset-dashboard-form">
        {% csrf_token %}
        <input type="hidden" name="app_label" value="{% if app_label %}{{ app_label }}{% endif %}">
    </form>
    <div class="dialog-confirm" id="reset-dashboard-dialog" title="{% trans "Reset widgets" %}">
        <p>{% trans "Are you sure want to reset widgets?" %}</p>
    </div>
</div>
<script>
function handleTrick() {
  var e = document.getElementById("djLangSelect");
  var lang = e.options[e.selectedIndex].value;
  document.cookie = "djlang="+lang;
  document.forms['setLang{{ language.code }}'].submit(); return false;
}
</script>
