{% load i18n dashboard_tags %}

<ul>
    {% if not module.children %}
        <li>
            {% trans 'None available' %}
        </li>
    {% else %}
        {% for entry in module.children %}
            <li>
                <span class="float-right">
                    <span class="icon-user tooltip" title="{{ entry.user }}"></span>
                    <span class="icon-clock tooltip" title="{{ entry.action_time }}"></span>
                </span>

                <div class="nowrap">
                    {% if entry.is_addition %}
                        <span class="icon-add3"></span>
                    {% endif %}
                    {% if entry.is_change %}
                        <span class="icon-edit"></span>
                    {% endif %}
                    {% if entry.is_deletion %}
                        <span class="icon-cross"></span>
                    {% endif %}

                    {% if entry.content_type %}
                        <span>{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                    {% else %}
                        <span>{% trans 'Unknown content' %}</span>
                    {% endif %}

                    {% if entry.is_deletion or not entry.get_admin_url %}
                        <span class="tooltip" title="{{ entry|format_change_message }}">{{ entry.object_repr }}</span>
                    {% else %}
                        <a title="{{ entry|format_change_message }}" class="tooltip" href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    {% endif %}
</ul>
